:root {
  --clr-bg: hsla(214, 60%, 24%, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul {
  list-style: none;
}

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size-adjust: 0.52;
  background: var(--clr-bg);
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

:target {
  scroll-margin-block: 5ex;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

.wrapper {
  min-height: 100vh;
}

.container {
  width: 100%;
  padding: 0 1rem;
  margin-inline: auto;
}

h1 {
  color: hsl(186, 54%, 81%);
  text-align: center;
  font-size: clamp(3rem, 2.705rem + 1.48vw, 3.813rem);
  font-weight: 700;
  margin-top: 2.5rem;
}

.user-prompt {
  width: fit-content;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5rem;

  > p {
    color: hsl(194, 34%, 79%);
    font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
    font-weight: 500;
    margin-bottom: 2rem;
  }

  form {
    width: 100%;

    .form-control {
      margin-bottom: 2.5rem;
    }

    input {
      border: none;
      height: 3rem;
      padding: 0.875rem 1.25rem;
      border-radius: 0.25rem;
      border: 1px solid hsl(214, 60%, 27%);
      background: hsl(214, 60%, 18%);
      color: hsl(194, 34%, 79%);
      font-size: 1.125rem;

      &::placeholder {
        color: hsl(214, 60%, 65%);
        font-size: 1.125rem;
        font-weight: 400;
      }
    }

    button {
      padding: 0.75rem 1.25rem;
      border-radius: 0.25rem;
      margin-inline: auto;
      display: block;
      text-transform: none;
      border: none;
      background: hsl(186, 54%, 81%);
      color: hsl(214, 60%, 24%);
      font-size: 1.125rem;
      font-weight: 500;
      transition: background 0.4s ease transform 0.4 ease-out;

      &:hover,
      &:active {
        background: hsl(186, 54%, 71%);
      }

      &:active {
        transform: scale(0.99);
      }
    }
  }
}

.game {
  margin-top: 2rem;
  .status-panel {
    width: 35rem;
    margin-inline: auto;
    display: flex;
    padding: 1rem 3.75rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background: rgba(156, 217, 224, 0.12);
    color: hsl(186, 54%, 81%);
    font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
    font-weight: 500;
    margin-bottom: clamp(3rem, 2.636rem + 1.82vw, 4rem);
  }

  .gameboards-container {
    display: flex;
    flex-direction: column-reverse;
    width: 30rem;
    margin: 0 auto;

    .player-id {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.75rem 0;
      color: #fff;
      font-size: 1.125rem;
      font-weight: 500;
      border: 1px solid rgba(156, 217, 224, 0.12);
      margin-bottom: 1.5rem;

      &.user {
        background: hsl(214, 60%, 18%);
      }

      &.enemy {
        background: hsl(0, 56%, 26%);
      }
    }

    .gameboard {
      width: 30rem;
      height: 30rem;
      border: 1px solid hsla(230, 77%, 60%, 0.5);
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(10, 1fr);

      &.disabled {
        pointer-events: none;
      }

      .square {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid hsla(230, 77%, 60%, 0.2);

        &.ship {
          background: hsla(230, 77%, 60%, 0.2);
          border-color: hsl(230, 77%, 60%);
        }

        &.disabled {
          pointer-events: none;
        }

        &.hit {
          background: hsla(3, 79%, 57%, 0.2);
        }

        &.sunk {
          border-color: hsl(3, 79%, 57%);
        }
      }

      &.enemy {
        .square {
          transition: background 0.2s ease;
          &:hover,
          &:active {
            background: hsla(214, 60%, 44%, 1);
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .game {
    .gameboards-container {
      width: 100%;
      margin: initial;
      flex-direction: row;
      justify-content: space-between;

      .player {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .player-id {
        width: 100%;
        font-size: 1.25rem;
      }

      .gameboard {
        width: 25rem;
        height: 25rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .game {
    .gameboards-container {
      .gameboard {
        width: 30rem;
        height: 30rem;
      }
    }
  }
}
